<!doctype html>
<html>

    <%- include('../res/header.ejs') %>

    <body>

        <%- include('../res/navbar.ejs') %>
        
        <div class="container">
            <div class="album py-3 bg-dark">
                <div class="row mx-auto" style="width: 300px;">
                    <% for(var i = 0; i < books.length; i++) { %>
                    <div class="col-2-xl">
                        <div class="card mb-2 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= books[i].name %>
                                </h5>
                                <p class="card-text">
                                    <b>ISBN-10</b> <%= books[i].id %> <br>
                                    <b>Authors</b> <%= books[i].authors %> <br>
                                    <b>Edition code</b> <%= books[i].editioncode %> <br>
                                    <b>Edition</b> <%= books[i].edition %> <br>
                                    <b>return to</b> <%= books[i].date %>
                                </p>
                                <form action="/user" method="POST">
                                    <input type="hidden" name="book_id" value="<%= books[i].id %>" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                                        Return this book
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html> 